*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: Courier, sans-serif;
}

a {
  transition: 0.2s;
}

a:not(:last-child) {
  margin-right: 0.5em;
}

a:hover {
  color: tomato;
}
